/* Estilos para todo */
h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 25px;
  font-weight: 600;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20x;
  font-weight: 500;
}

h4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 16px;
}

/*-----RESET---AFECTA A TODO EL PROYECTO--siempre va margin y padding 0 en CSS----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----Boostrap NAV-----*/
.nav-link {
  color: #f8f9fa !important;
  background-color: #222 !important;
}

.bg-body-tertiary {
  --bs-bg-opacity: 1;
  background-color: #222 !important;
}

button.navbar-toggler {
  background-color: #fff;
}

/*-----------BODY-------------*/
body .tsecciones {
  padding: 25px;
  margin: 25px;
}
body .homeservicios {
  padding: 20px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .primary-button {
  text-decoration: none;
  color: #fff;
  background-color: #1AAE9F;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  border-color: #1AAE9F;
  display: flex;
  margin-right: 5px;
}
body .primary-button:hover {
  transform: scale(1.2);
}
body .secondary-button {
  color: #1AAE9F;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
  padding: 8px;
  border-color: #ffffff;
}
body .secondary-button:hover {
  transform: scale(1.3);
}
body .gris {
  background-color: #e9e9e9;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .gris img:hover {
  transform: scale(1.2);
}

.gris-content {
  padding-left: 20px;
}

.gris-content h3 {
  padding-bottom: 10px;
}

.gris-content h2 {
  padding-bottom: 15px;
}

.gris-content p {
  padding-bottom: 20px;
}

.buttons-content {
  display: flex;
}

.title-galeria {
  text-align: center;
  padding: 20px;
  background-color: #1AAE9F;
}

.grid-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  color: #000;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 5px 5px;
  grid-auto-flow: row;
  justify-content: center;
  grid-template-areas: "basic-page Informativa Estandar" "Portal Portafolio Corporativa";
  background-color: #fff;
  -o-object-fit: cover;
     object-fit: cover;
}

.basic-page {
  grid-area: basic-page;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Informativa {
  grid-area: Informativa;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Portal {
  grid-area: Portal;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Estandar {
  grid-area: Estandar;
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Portafolio {
  grid-area: Portafolio;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.Corporativa {
  grid-area: Corporativa;
  background-color: #fff;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nosotros {
  margin: auto;
  padding: 30px;
}

.nosotros img {
  transition: transform 0.2s ease;
}
.nosotros img:hover {
  transform: scale(1.2);
}

.nosotros-text {
  margin: 30px;
}

.section div .gris-content {
  display: inline;
}

.final {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #ebebeb;
}

.form {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px;
  margin: 20px;
}

.contacto {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  padding-top: 30px;
}

.faq {
  padding: 50px;
  margin: 50px;
}

header {
  background-color: #222;
  color: #fff;
  padding: 15px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

main .backhome {
  background: rgb(184, 2, 174);
  background: radial-gradient(circle, rgb(184, 2, 174) 0%, rgb(0, 0, 0) 95%);
  color: #fff;
  text-align: center;
  height: 430px;
  align-content: center;
  padding: 150px;
}
main .backnous {
  background: #021db8;
  background: radial-gradient(circle, #021db8 0%, rgb(0, 0, 0) 95%);
  color: #fff;
  text-align: center;
  height: 430px;
  align-content: center;
  padding: 150px;
}
main .backserv {
  background: #048a3f;
  background: radial-gradient(circle, #048a3f 0%, rgb(0, 0, 0) 95%);
  color: #fff;
  text-align: center;
  height: 430px;
  align-content: center;
  padding: 150px;
}

footer {
  background-color: #222;
  color: #f8f8f8;
  padding: 20px;
}

footer {
  background-color: #000;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  align-items: center;
}

.footer-right {
  display: flex;
  align-items: center;
}

.fb-icon {
  padding: 5px;
}

/*--------------- HEADER ----------------*/
@media (max-width: 576px) {
  header img {
    width: 80%;
  }
}
/* --------------- HOME ----------------*/
@media (max-width: 575px) {
  main .backhome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    height: 250px;
  }
}
/* botones del home*/
@media (max-width: 575px) {
  body .gris {
    flex-direction: column;
    margin: 5px;
  }
  body .homeservicios {
    display: block;
    margin: 5px;
  }
  body .grid-container {
    width: 100%;
    margin: 0px;
    grid-template-columns: auto;
    -o-object-fit: cover;
       object-fit: cover;
    grid-template-areas: "basic-page" "Informativa" "Estandar" "Portal" "Portafolio" "Corporativa";
  }
  body .grid-container img {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .grid-container img {
    width: 100%;
  }
}
/*NOSOTROS*/
@media (max-width: 576px) {
  main .backnous {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    height: 250px;
  }
  main .backserv {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    padding: 50px;
    height: 250px;
  }
}
@media (max-width: 576px) {
  body .nosotros img {
    width: 70%;
  }
}
@media (max-width: 576px) {
  body .gris img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/* CONTACTO*/
@media (max-width: 576px) {
  .contacto {
    padding: 20px;
    margin: 20px;
    flex-wrap: wrap;
  }
}
@media (max-width: 575px) {
  body .map {
    display: none;
  }
}
/*FAQ*/
@media (max-width: 500px) {
  body .faq {
    padding: 10px;
    margin: 10px;
  }
}
/* FOOTER */
@media (max-width: 500px) {
  .footer-section {
    display: block;
  }
}/*# sourceMappingURL=estilos.css.map */