footer {
    background-color: #222;
    color: #f8f8f8;
    padding: 20px;
}

footer {
    background-color: #000;
}

.footer-section {
    display: flex;
    justify-content: space-between;

}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-right {
    display: flex;
    align-items: center;
}

.fb-icon {
    padding: 5px;
}
