footer {

    footer {
        background-color: #222;
        color: #fff;
        padding: 20px;
        color: #FFF;
    
    }
    
    footer {
        background-color: #000;
    }
    
    .footer-section {
        display: flex;
        justify-content: space-between;
    
    }

    .footer-left {
        display: flex;
        align-items: center;
    }
    
    .footer-right {
        display: flex;
        align-items: center;
    }
    
    .fb-icon {
        padding: 5px;
    }

}