main {

    .backhome {
        background-color: #000d3f;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;
    }

    /*animacion*/

    .backhome {
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;

        @keyframes aparecer {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .backnous {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;

    }

    .backserv {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;

    }
}