main {

    .backhome {
        background-color: #000d3f;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;
    }

    .backnous {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;
    
    }

    .backserv {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;
    
    }
}