main {

    .backhome {
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);      
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;
    }

    /*animacion*/

    .animation1 {
        
    }


    .backnous {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;

    }

    .backserv {
        background-color: #1AAE9F;
        color: #fff;
        text-align: center;
        height: 430px;
        align-content: center;
        padding: 150px;

    }
}